.banner {
    margin-bottom: 4rem;
}

.text-row h2{
    text-align: center;
}

.text-row p {
    text-align: justify;
}

.educ_img {
    max-width: 60%;
    border-radius: 8px;
    margin-top: 0px;
}

@media (max-width: 767px) {
    .container-educ p{
        text-align: left;
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1rem;
    }
}