.banner-homepage {
    text-align: center;
    background: #6F8F7E;
    padding: 10px 0px 20px;
    margin-left: 0px;
}

@media (min-width: 768px) {
    .banner-homepage {
    text-align: center;
    background: #6F8F7E;
    padding: 20px 0px 40px;
    margin-left: 0px;
}
}

.presentation-img {
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 8px;
    margin-top: 0px;
}

@media (min-width: 768px) {
    .presentation-img {
    width: 70%;
    height: auto;
    border-radius: 8px;
    margin-top: 0px;
}
}

.img-cropper {
  width: 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 50%;
  margin: 1.5rem auto;
}

.banner-img {
  width: 150%;
  height: 100%;
  object-fit: cover;
  transform: translate(-30px);
  border-radius: 0;
}

@media (min-width: 768px) {
    .banner-img {
    width: 150%;
    height: auto;
    max-width: 200%;
    border-radius: 10px;
    object-fit: cover;
    transform: translate(-60px, -180px);}

    .img-cropper {
    width: 300px;
    height: 300px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto 20px; /* Center the cropper and add bottom margin */
}
}

.banner-homepage h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 2rem;
}

.banner-homepage h3 {
    color: white;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 1.2rem;
}

.banner-homepage h4 {
    color: white;
    margin-bottom: 30px;
    font-weight: 100;
}

.banner-homepage h5 {
    color: white;
    font-weight: 400;
}

@media (min-width: 768px) {
    .banner-homepage h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 4rem;
}

.banner-homepage h3 {
    color: white;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 2.5rem;
}

.banner-homepage h4 {
    color: white;
    margin-bottom: 30px;
    font-weight: 100;
}}

.banner-homepage p {
    color: lightgray;
    margin-bottom: 0px;
}

.carrousel-img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 0px;
    max-height: 290px;
}

.button {
    background-color: #8FAF9A;
    color: white;
    border: 1px solid black;
    padding: 20px 40px;
    height: 80px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.6s ease;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 40px auto;
    width: fit-content;
}

.button:hover {
    background-color: #6F8F7E;
    transform: scale(1.1);
}

.body h2{
    text-align: center;
}

.homepage_content {
    margin-top: 15px;
    padding: 1.2rem;
    text-align: left;
}

@media(max-width: 767px) {
    .homepage_content p {
        font-size: 1rem;
        line-height: 1.6;
        margin-bottom: 1.2rem;
    }
}

@media (min-width: 768px) {
    .homepage_content {
        padding-left: 10rem;
        padding-right: 10rem;
        text-align: justify;
    }
}

@media (min-width: 1200px) {
    .homepage_content {
        padding-left: 10rem;
        padding-right: 10rem;
        text-align: justify;
    }
}