.banner {
    text-align: center;
    background: #6F8F7E;
    padding: 40px 0px 40px;
    margin-left: 0px;
}

.banner h1 {
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 4rem;
}

.banner h3 {
    color: white;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 2.5rem;
}

.banner h4 {
    color: white;
    margin-bottom: 30px;
    font-weight: 100;
}

.banner p {
    color: lightgray;
    margin-bottom: 0px;
}

.presta-container h4 {
    font-weight: 500;
}

.presta-container p, li {
    text-align: justify;
}