@font-face{
    font-family: 'source-sans';
    src: url('./assets/fonts/source_sans.ttf') format('truetype');
    font-display: swap;
}

@font-face{
    font-family: 'abril';
    src: url('./assets/fonts/abril.ttf') format('truetype');
    font-display: swap;
}

h1 {
    font-family: 'abril';
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-family: 'source-sans';
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.2;
}

h3 {
    font-family: 'source-sans';
    margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
    h3 {
        font-size: 48px;
    }
    h2 {
        font-size: 32px;
    }
    h3 {
        font-size: 2rem;
    }
}

body {
    font-family: 'source-sans';
    font-size: 18px;
    color: #1F1F1F;
    margin: 0;
    font-weight: 400;
    line-height: 1.7;
}

html {
    scroll-padding-top: 100px;
    margin: 0;
    padding: 0;
}

label {
    margin-bottom: 0
}

.root {
    margin: 0;
    padding: 0;
}

b {
    color: #8A5A3C;
}

.highlight {
    background: #8FAF9A;
    display: inline;
}