@font-face{
    font-family: 'source-sans';
    src: url('./assets/fonts/source_sans.ttf') format('truetype');
}

@font-face{
    font-family: 'inter';
    src: url('./assets/fonts/inter.ttf') format('truetype');
}

h1 {
    font-family: 'inter';
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2;
}

h2 {
    font-family: 'inter';
    font-size: 32px;
    font-weight: 600;
    line-height: 1.2;
}

h3 {
    font-family: 'inter';
}

body {
    font-family: 'inter';
    font-size: 18px;
    color: #1F1F1F;
    margin: 0;
    font-weight: 400;
    line-height: 1.7;
}

html {
    scroll-padding-top: 100px;
    margin: 0;
    padding: 0;
}

label {
    margin-bottom: 0
}

.root {
    margin: 0;
    padding: 0;
}

b {
    color: #8A5A3C;
}
