@font-face{
    font-family: 'source-sans';
    src: url('./assets/fonts/source_sans.ttf') format('truetype');
}

@font-face{
    font-family: 'inter';
    src: url('./assets/fonts/inter.ttf') format('truetype');
}

h1, h2, h3{
    font-family: 'source-sans', sans-serif;
}

body {
    font-family: 'inter';
    font-size: 18px;
    color: #2F2F2F;
    margin: 0;
}

html {
    scroll-padding-top: 100px;
    margin: 0;
    padding: 0;
}

label {
    margin-bottom: 0
}

.root {
    margin: 0;
    padding: 0;
}

b {
    color: #8A5A3C;
}
